[submodule "csrc/third_party/dlpack"]
	path = csrc/third_party/dlpack
	url = https://github.com/dmlc/dlpack.git
[submodule "csrc/third_party/pybind11"]
	path = csrc/third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "csrc/third_party/libaio"]
	path = csrc/third_party/libaio
	url = https://pagure.io/libaio.git
[submodule "csrc/third_party/liburing"]
	path = csrc/third_party/liburing
	url = https://github.com/axboe/liburing.git
[submodule "csrc/third_party/atomic_queue"]
	path = csrc/third_party/atomic_queue
	url = https://github.com/max0x7ba/atomic_queue.git
